## Operations

In [3]:
import pandas as pd
import numpy as np

In [5]:
d ={'col1':[1,2,3,4],'col2':[444,555,444,777],'col3':['abc','def','ghi','xyz']}
d

{'col1': [1, 2, 3, 4],
 'col2': [444, 555, 666, 777],
 'col3': ['abc', 'def', 'ghi', 'xyz']}

In [7]:
df = pd.DataFrame(d)

In [9]:
df

   col1  col2 col3
0     1   444  abc
1     2   555  def
2     3   666  ghi
3     4   777  xyz

## Unique values